<% title "Itineraries" %>

<table>
  <tr>
    <th>Title</th>
  </tr>
  <% for itinerary in @itineraries %>
    <tr>
      <td><%=h itinerary.title %></td>
      <td><%= link_to "Show", itinerary %></td>
      <td><%= link_to "Edit", edit_itinerary_path(itinerary) %></td>
      <td><%= link_to "Destroy", itinerary, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Itinerary", new_itinerary_path %></p>
