- title @itinerary.title
= @map.to_html
%div{ :style => "width: 1000px; height: 500px; float: left;" }
  = @map.div
%div{ :style => "clear: both" }
%p
  %strong
    Title:
%p
  = link_to "Edit", edit_itinerary_path(@itinerary)
  |
  = link_to "Destroy", @itinerary, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", itineraries_path
