= title "Locations" 
%table
  %tr
    %th Name
    %th Latitude
    %th Longitude
    - unless params[:itinerary_id]
      %th Itinerary
  - @locations.each do |location|
    %tr
      %td
        = link_to h(location.name), location 
      %td
        =h location.latitude 
      %td
        =h location.longitude 
      - unless params[:itinerary_id]
        %td
          =h location.itinerary_id 
      %td
        = link_to "Edit", edit_location_path(location) 
      %td
        = link_to "Destroy", location, :confirm => 'Are you sure?', :method => :delete 
%p
  = link_to "New Location", new_location_path 
